@use "../../variables.scss" as *;

.carouselWrapper {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;

  -webkit-user-select: none; /* Safari */
  user-select: none;

  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.dateCarousel {
  border-collapse: collapse;
  white-space: nowrap;
  min-width: 100%;
  transition: all 0.5s;
  position: right;
}

.date {
  background-color: $bg-third;
  border: 2px solid black;
  min-width: 80px;
  transition: all 0.25s;
  position: relative;
}

.selected {
  background-color: $accent;
  border-bottom-color: $accent;
  border-right-color: black;
  font-weight: bold;
  color: $bg-main;
}

.dateDay {
  font-size: 12px;
  padding-top: 5px;
}

.dateNum {
  font-size: 24px;
  padding: 5px;
}

.dateHours {
  font-size: 12px;
  padding-bottom: 5px;
}

.statusCircle {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 0 0 0 100%;

  top: 0px;
  right: 0px;
}

.badHours {
  background-color: $secondary;
}

.goodHours {
  display: none;
}
