@use "../../../variables.scss" as *;

.dashboardContainer {
  @include flex-default(column);
  position: relative;
  margin-bottom: 20px;
  background-color: $bg-main;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
