.dashboard-content {
	background-color: var(--background);
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	text-align: center;

	width: 340px;

	margin-bottom: 20px;
}

.dashboard-content button.add-emp {
	margin-top: 20px;
}

.add-employee-form {
	background-color: var(--background);
	display: flex;
	flex-direction: column;

	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

	width: 340px;
}

.add-employee-form > div {
	padding: 7px;
}

.add-employee-form > div.input-container {
	width: 100%;
	text-align: left;
}

.add-employee-form > div.input-container > label{
	font-weight: bold;
}

.add-employee-form > div.input-container > input {
	width: 100%;
}

.add-employee-form > div.button-container {
	margin: auto;
	margin-top: 20px;
}

.add-employee-form > div.button-container > button {
	margin: 0 10px 0 10px;
	padding: 5px 10px 5px 10px;
	border-radius: 3px;

	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.add-employee-form > div > .submit-button {
	background-color: var(--primary);
	color: var(--background);
}

.add-employee-form > div > .cancel-button {
	background-color: var(--accent);
	color: var(--background);
}