.carouselWrapper {
    width: 100%;
    overflow-x: scroll;
    border: 2px solid black;
}

.dateCarousel {
    border-collapse: collapse;
    white-space: nowrap;
    min-width: 100%;
    transition: all .5s;
}

.date {
    background-color: #f1f1f1;
    border: 2px solid black;
    min-width: 80px;
    transition: all .25s;
}

.selected {
    background-color: paleturquoise;
    border-bottom-color: paleturquoise;
    border-right-color: black;
    font-weight: bold;
}